<section id="about-me">
    <div class="about">
        <p class="heading-p">Our <span class="span-1">services</span></p>
    </div>
    <div class="row"id="row-about">
        <div class="col-lg-4 col-i">
            <i class='fas fa-code i-classes'></i>
            
            </br>
            <P>website (e-commerce)development</P>
            <p>Experienced in designing and developing innovative web solutions, utilizing cutting-edge technologies to deliver user-centric experiences and drive business growth.s </p>
           
        </div>
        <div class="col-lg-4 col-i">
          
            <i class='fab fa-wordpress i-classes'></i>
        </br>
        <P>wordpress web developer</P>
        <p> Skilled in customizing and extending WordPress functionality, leveraging plugins and themes to create visually stunning websites with seamless navigation and exceptional user engagement.</p>

            </br>

        </div>
        <div class="col-lg-4 col-i">
            
            <i class='fab fa-wordpress i-classes'></i>
        </br>
        <P>mobile app development</P>
      
        <p> Proficient in building robust and scalable mobile applications for iOS and Android platforms, focusing on intuitive interfaces and optimal performance to exceed user expectations.

        </p>
            </br>
        </div>
    </div>

    <div class="real-about">
        <div class="about">
            <p class="heading-p">About <span class="span-1">Me!</span></p>
        </div>
        <div class="row about-row-tel">
            <div class="col-lg-4">
                <div class="my-image">
                    <img class="my-image-h"src="20230529_215802-removebg-preview.png"alt="myimg">
                </div>
                

            </div>
            <div class="col-lg-6 col-i-s">
                
                <i class="fa fa-check i-class1"></i> <span class="span-i">degree in Information Technology.</span> </br>
                <hr class="hr-1">
                <i class="fa fa-check i-class1"> </i><span class="span-i">online courses from Udemy and Harvard's Full-Stack Development on edX.</span> </br>
                <hr class="hr-1">
                <i class="fa fa-check i-class1"> </i><span class="span-i">Passionate about creating innovative and user-centric solutions..</span> </br>
                <hr class="hr-1">
                <i class="fa fa-check i-class1"> </i><span class="span-i"> Let's collaborate and bring your digital vision to life!</span> </br>
    
                   <div class="lets-talk">
                    <button class="my-button">let's talk</button>
                   </div>
                
            </div>
        </div>
    </div>
</section>
