<section id="footer-section">
   
<div class="footers">
 
   
</br>
<a href="https://www.facebook.com/muktar.kassim.733?mibextid=ZbWKwL">  <img class="footer-image"src="facebook.png"> </a>
  <a href="https://instagram.com/agueroo_12?igshid=MzNlNGNkZWQ4Mg=="><img class="footer-image"src="instagram.png"></a>  
   <a href="https://twitter.com/Muqtar71679720?t=ya1h5fnRnN8ANMWFTXC0Ww&s=09"> <img class="footer-image"src="twitter.png">
   <img class="footer-image"src="whatsapp.png"> 
</div>
      <div class="copyright">

        <p>&copy; muqtar 2023</p>
      </div>
   

</section>

