
<section id="section2">
    <div class="myprojects">
        <h1 class="pr">my <span class="span-1">profolio</span></h1>
        <p class="p-profolio">checkout some of my creative projects below</p>
    </div>
  
  
        <div class="row"id="row-card">
            <div class="col-lg-4"> 
                <div class="card" style="width: 20rem;">
                   
                    <div class="card-body">
                      <h5 class="card-title">voting system</h5>
                    <img class="pr-image"src="pexels-element-digital-1550337.jpg">
          
                    </div>
                  </div>
            </div>
            <div class="col-lg-4"> 
                <div class="card" style="width: 20rem;">
                   
                    <div class="card-body">
                      <h5 class="card-title">Newslatter</h5>
                    <img class="pr-image"src="pexels-leeloo-thefirst-7873575.jpg">
          
                    </div>
                  </div>
            </div>
            <div class="col-lg-4"> 
                <div class="card" style="width: 20rem;">
                   
                    <div class="card-body">
                      <h5 class="card-title">Weather app</h5>
                    <img class="pr-image"src="pexels-guhanesan-sivalingam-16657376.jpg">
          
                    </div>
                  </div>
            </div>

            
            </div>
            <div class="see-more">
                <a href="#">   <p>see more  <i class='fas fa-arrow-right'></i></p></a>
            </div>
            </section>