<section id="section-3">
    <div class="testimonials">
        <p>testimonials</p>
      
    </div>


<div class="row">
    <div class="col-lg-6">
     <h5 class="h-tmn">Got a cool project or idea ? <span class="span-2">hit me up!</span></h>
        <div class="contact-me">
            <form class="form" action="">

                <label>Your email:</label>
                <input type="email" name="your-email" class="inputs"> <br>
                <label>Your message:</label>
                <input type="text" name="your-message" class="inputs">
                <br>
                <button type="submit" class="my-button"> send </button>


            </form>
        
        
        </div>
    </div>
    <div class="col-lg-6">
    <div class="inner-testimonials">
    <div class="test-1">
        <div class="quote">
            <i class="fa fa-quote-right"></i>
        </div>
      
        <img class="img-circle"src="pexels-arianna-jadeÌ-4006576.jpg"alt="img.1">
        <em>monica,business-owner</em>
        <p>he is the best in the business</p>
        <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
    </div>
   
  

    </div>
    <div class="t-courosel">
        <div class="corosel-1">
            <hr class="c-hr active">
        </div>
        <div class="corosel-1">
            <hr class="c-hr ">
        </div>
        <div class="corosel-1">
            <hr class="c-hr">
        </div>
    </div>
</div>
</div>
</section>

